---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li time {
				flex: 0 0 9.2em;
				font-family: 'PT Mono', monospace;
				font-style: italic;
				color: var(--clr-accent);
				padding-right: 0;
			}
			ul li a { padding: 0; }
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section class="text-center">
				<p>Want to use an RSS reader? <a href="/rss.xml">Here's the <b>rss.xml</b> file.</a></p>
				<p>Newsletter soon™ if there's enough interest.</p>
			</section>
			<section>
				<ul>
					{posts.map((post) => (
						<li>
							<time datetime={post.frontmatter.pubDate}>
								{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'short',
									day: '2-digit',
								})} —
							</time>
							<a href={post.url}>{post.frontmatter.title}</a>
						</li>
						<li>{post.frontmatter.description}</li>
					))}
				</ul>
			</section>
			<Footer />
		</main>
	</body>
</html>
