---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section class="text-center">
				<p>Want to use an RSS reader? <a href="/rss.xml">Here's the <b>rss.xml</b> file.</a></p>
				<p>Newsletter soon™ if there's enough interest.</p>
			</section>
			{posts.map((post) => (
				<section>
					<a href={post.url}>
						<time datetime={post.frontmatter.pubDate}>
							{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
								year: 'numeric',
								month: 'short',
								day: '2-digit',
							})} —
						</time>
						{post.frontmatter.title}
					</a>
					<p>{post.frontmatter.description}</p>
				</section>
			))}
			<section>
				<a href="https://tylersdump.wordpress.com">
					??? ??, ???? — Tyler's Dump
				</a>
				<p>All the previous blog posts from my sh!thole.</p>
			</section>
			<Footer />
		</main>
	</body>
</html>
