---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import MainProjects from '../components/MainProjects.astro';
import MainSocial from '../components/MainSocial.astro';
import MainMisc from '../components/MainMisc.astro';

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.init {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: 75vh;
				font-weight: bold;
				position: relative;
				position: static;
				text-align: center;
				font-size: 1.25rem;
				width: 66.6666666667%;
				margin: 0 auto;
			}
			.midtext { 
				width: 75%;
				font-size: 3rem;
				line-height: 1.5;
				display: block;
			}
			@media (max-device-width: 1000px) {
				.init { width: 100%; }
				.midtext { width: 100%; }
			}
		</style>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<div class="init onest">
			<p>HI, I'M TYLER, A</p>
			<span class="midtext onest">
				FULL STACK AND
				APP <prlgm class="mr-0"><span>DEVELOPER</span></prlgm>
			</span>
			<p class="text-base font-normal pt-8">
				I've been coding up programs for over 5 years now, and I dabble in everything from TUIs to full server software.
				This site acts as both a portfolio and a blog, plus some miscellaneous things.
			</p>
		</div>
		<span class="flex justify-center m-4"><prlgm class="hr"></prlgm></span>
		<p class="text-3xl font-bold text-center onest">PROJECTS</p>
		<MainProjects />
		<span class="flex justify-center">
			<a class="px-4 button prlgm bgc leading-[2em] inline-block" href="/projects"><span>View All</span></a>
		</span>
		<span class="flex justify-center m-4 mt-32"><prlgm class="hr"></prlgm></span>
		<p class="text-3xl font-bold text-center">BLOG POSTS</p>
		<cards class="mt-4">
			{posts.slice(0,6).map((post) => {
				return <card>
					<a href={post.url} class="flex flex-col text h-full nodeco">
						<time datetime={post.frontmatter.pubDate}>
							{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
								year: 'numeric',
								month: 'short',
								day: '2-digit',
							}).toLocaleUpperCase()}
						</time>
						<p class="text-xl onest !font-bold redeco">{post.frontmatter.title}</p>
						<p class="text-base font-normal mt-auto">{post.frontmatter.description}</p>
					</a>
				</card>
			})}
		</cards>
		<span class="flex justify-center m-4">
			<a class="px-4 button prlgm bgc leading-[2em] inline-block" href="/blog"><span>View All</span></a>
		</span>
		<span class="flex justify-center m-4 mt-32"><prlgm class="hr"></prlgm></span>
		<p class="text-3xl font-bold text-center">SOCIALS</p>
		<MainSocial />
		<span class="flex justify-center m-4">
			<a class="px-4 button prlgm bgc leading-[2em] inline-block" href="/social"><span>View All</span></a>
		</span>
		<span class="flex justify-center m-4 mt-32"><prlgm class="hr"></prlgm></span>
		<p class="text-3xl font-bold text-center">MISC</p>
		<MainMisc />
		<Footer />
	</body>
</html>